<h3>Decrypt & Download</h3>

<form method="post" id="downloadForm" action="/decrypt">
    <div class="row">
        <div class="col-12 form-group">
            <textarea class="form-control" name="inputEncryptedString" placeholder="Enter your encrypted string" rows="8"></textarea>
        </div>
        <div class="col-12 form-group">
            <label for="keySize">Key:</label>
            <input type="text" class="form-control" name="key" required placeholder="Enter the key set by the encryptor">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" id="form_submit">Decrypt</button>
        </div>
    </div>
</form>