<h3>Decrypt & Download</h3>

<form id="downloadForm" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-12">
            <textarea class="form-control" name="encryptedString" placeholder="Enter your encrypted string" rows="5"></textarea>
        </div>
        <div class="col-12 form-group">
            <label for="keySize">Key:</label>
            <input type="text" class="form-control" name="key" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" id="form_submit">Decrypt</button>
        </div>
    </div>
</form>