<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ImageEncryption</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/add">Add Device</a></li>
            <li class="nav-item"><a class="nav-link" href="/status">Device Status</a></li>
            <li class="nav-item"><a class="nav-link" href="/update">Update Device</a></li>
            <li class="nav-item"><a class="nav-link" href="/delete">Delete Device</a></li>
        </ul>
    </div>
</nav> -->