<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">    
<title>Image Encryption</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"></style>
