<h3>Upload & Encrypt</h3>

<form method="post" id="uploadForm" enctype="multipart/form-data">
    <div class="row">
        <div class="col-12 form-group">
            <label for="file">Upload your image here: (accepts .JPG, .JPEG only)</label>
            <input type="file" name="image" accept="image/jpeg">
        </div>
        <div class="col-12 form-group">
            <label for="keySize">Key:</label>
            <input type="text" class="form-control" name="key" required>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" id="form_submit">Encrypt</button>
        </div>
    </div>
</form>