<h3>Upload & Encrypt</h3>

<form method="post" id="uploadForm" enctype="multipart/form-data" action="/encrypt">
    <div class="row">
        <div class="col-12 form-group">
            <label for="file">Upload your image here:</label>
            <input type="file" name="image" accept="image/jpeg" required>
            <small class="form-text text-muted">.JPG, .JPEG only</small>
        </div>
        <div class="col-12 form-group">
            <label for="keySize">Key:</label>
            <input type="text" class="form-control" name="key" required placeholder="Set a key and share with your recipient">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" id="form_submit">Encrypt</button>
        </div>
    </div>
</form>